
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */