@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade&subset=latin-ext');
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.document {
  margin: 10vh auto;
  width: fit-content;
}

@media only screen and (max-width: 640px) {
  .document {
    margin-top: 3vh
  }
}

body { 
  text-align: center;
  font-family: 'Bungee', cursive;
  color: #fff;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/background.png"); 
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 2000px;
  z-index: -2;
}

#layer {
  background-color: rgba(0, 20, 30, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hello {
  font-size: 76px;
  margin: 20px;
  font-family: 'Bungee Shade', cursive;
  letter-spacing: 5px;
}

section p {
  font-size: 18px;
  margin: 5px auto;
  width: 80%;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: inherit;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 280px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
  font-family: inherit;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover, .button:active, .button:focus {
  border: none;
  outline:none;
}

a:link {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

section{
  margin-bottom: 20px;
}

a.icon {
  color: gainsboro;
  font-size: 3em;
  margin: 10px;
}