---
import Layout from "../layouts/Layout.astro";
import {
  GitHubIcon,
  InstagramIcon,
  LinkedInIcon,
  StackOverflowIcon,
} from "./icons";
---

<Layout title="usta.dev" description="Welcome to usta.dev">
  <div
    class="h-full min-h-screen min-w-screen w-full bg-[url('/images/background.png')] bg-[length:2000px_2000px] bg-fixed bg-repeat"
  >
    <div
      class="hero h-full min-h-screen w-full bg-bgLayer font-bungee text-neutral-content"
    >
      <div class="hero-content flex-col lg:flex-row lg:items-stretch">
        <img
          alt="Usta Himself"
          src="/images/usta4.jpg"
          class="max-w-[240px] rounded-lg shadow-2xl md:max-w-xs"
        />
        <div
          class="flex flex-col items-center justify-between gap-6 md:items-start"
        >
          <h1
            class="text-center font-bungeeShade text-6xl font-bold tracking-wider md:text-start md:text-7xl"
          >
            Hello!
          </h1>
          <div
            class="flex w-11/12 grow flex-col justify-between md:w-full md:text-lg"
          >
            <div>My name is Usta.</div>
            <div>I&apos;m a software engineer based in Tokyo, Japan.</div>
            <div class="hidden md:block">
              In my personal life, I enjoy doing CrossFit, cooking rather
              interesting food, listening to German rap music and organizing
              parties.
            </div>
            <div>
              Checkout my <a
                href="https://l.usta.dev/blog"
                class="link-hover link-info"
                target="_blank">blog</a
              > and my <a
                href="https://l.usta.dev/github"
                class="link-hover link-info"
                target="_blank">open source projects</a
              >.
            </div>
            <!-- <div>
              On this website, you can find my{" "}
              <a href="/portfolio" class="link-hover link-info"> portfolio</a>
              ,{" "}
              <a href="/blog" class="link-hover link-info"> blog</a>
              ,{" "}
              <a href="/videos" class="link-hover link-info">
                fitness and cooking videos
              </a>
              ,{" "}
              <a href="/playlists" class="link-hover link-info">
                favorite spotify playlists
              </a>
              .
            </div> -->
          </div>
          <div
            class="flex flex-col-reverse items-center justify-center md:justify-between gap-6 w-full md:flex-row"
          >
            <div class="flex flex-row justify-center gap-4 lg:justify-start">
              <a
                href="https://l.usta.dev/github"
                target="_blank"
                rel="noreferrer"
              >
                <GitHubIcon
                  className="h-full w-12 fill-neutral-content transition-all hover:cursor-pointer"
                />
              </a>
              <a
                href="https://l.usta.dev/stackoverflow"
                target="_blank"
                rel="noreferrer"
              >
                <StackOverflowIcon
                  className="h-full w-12 fill-neutral-content transition-all hover:cursor-pointer"
                />
              </a>
              <a
                href="https://l.usta.dev/linkedin"
                target="_blank"
                rel="noreferrer"
              >
                <LinkedInIcon
                  className="h-full w-12 fill-neutral-content transition-all hover:cursor-pointer"
                />
              </a>
              <a
                href="https://l.usta.dev/instagram"
                target="_blank"
                rel="noreferrer"
              >
                <InstagramIcon
                  className="h-full w-12 fill-neutral-content transition-all hover:cursor-pointer"
                />
              </a>
            </div>
            <div class="flex gap-6 w-full justify-center item-stretch">
              <a
                class="btn-secondary btn btn-lg h-full text-2xl whitespace-nowrap"
                href="https://amzn.to/3XZN6mK"
                target="_blank"
                rel="noreferrer"
              >
                Usta Sauce™️
              </a>
              <a class="btn-accent btn btn-lg text-2xl" href="/contact">
                Contact
              </a>
              <!-- <a
                class="btn-accent btn grow-0 w-2/5 btn-lg text-2xl"
                target="_blank"
                href="https://resume.usta.dev"
              >
                Resume
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
