---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html
  data-theme="emerald"
  lang="en"
  class="fixed overflow-auto left-0 right-0 top-0 bottom-0"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <!-- Google tag (gtag.js) -->
  <script
    type="text/partytown"
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-3LSFTBRKF5"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-3LSFTBRKF5");
  </script>
  <body
    class="h-full m-auto overflow-auto bg-[url('/images/background.png')] bg-[length:2000px_2000px] bg-fixed bg-repeat"
  >
    <div class="bg-bgLayer"><slot /></div>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade&subset=latin-ext");
</style>
